LodgeEscape_Client/.vs
LodgeEscape_Client/LodgeEscape_Client/x64
LodgeEscape_Client/x64/Debug/LodgeEscape_Client.pdb
LodgeEscape_Server/.vs
LodgeEscape_Server/LodgeEscape_Server/x64
LodgeEscape_Server/x64